@font-face {
    font-family: 'prompt-md';
    src: url('../fonts/Prompt/Prompt-Medium.ttf');
}

* {
    border-radius: 0px !important;
}

body {
    font-family: 'prompt-md', sans-serif;
    padding: 0;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

.navbar{
    z-index: 1;
}

.navbar-toggler-icon {
    font-size: 0.5rem;
}

.navbar-toggler:focus {
    box-shadow: none;
}


.dropdown img {
    max-width: 32px;
    width: 32px;
    border-radius: 50px;
    object-position: center;
    object-fit: cover;
}

.wrapper {
    display: flex;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    justify-content: center;
    padding-top: 56px;

    background: rgb(131, 58, 180);
    background: -moz-linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(29, 90, 253, 1) 50%, rgba(69, 223, 252, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(29, 90, 253, 1) 50%, rgba(69, 223, 252, 1) 100%);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(29, 90, 253, 1) 50%, rgba(69, 223, 252, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4", endColorstr="#45dffc", GradientType=1);
}

.message-container {
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
    margin: auto;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 0.5rem;
}

.message-box {
    padding: 0.5rem 0.5rem;
    margin-bottom: 0.5rem;
}

.message-box .displayname {
    font-size: 14px;
    font-weight: bold;
}

.message-box .content {
    position: relative;
    padding: 0.25rem 0.5rem;
    background-color: #dddddd80;
    border-radius: 12px;
}

.message-box .content .message {
    display: block;
}

.message-box .content .time {
    display: block;
    position: absolute;
    bottom: -15px;
    font-size: 10px;
}

.message-box.self .displayname {
    display: none;
}

.message-box.self .content {
    text-align: end;
    background-color: #d4f4ff80;
}

.message-box.self .content .time {
    right: 0px;
}

* {
    border-radius: 0;
}